*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
  height: calc(100vh - 97vh);
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background: #111;
  cursor: pointer;
}

.active {
  color: #F08;
}

.hero-section {
  display: flex;
  height: calc(100vh - 3vh);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../images/hero-section-bg.jpg") center center;
  color: #fff;
}

.hero-header,
.hero-description {
  padding: 0 4rem;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 100;
}

.btn {
  padding: .5rem 1rem;
  border-radius: 6px;
  border: none;
  text-align: center;
  color: #fff;
}

.btn-success {
  background: #F08;
}

.btn:hover {
  cursor: pointer;
}

/* menu styles */

.menu-header {
  height: calc(100vh - 50vh);
  position: relative;
  top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url("../images/restaurant-menu.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: rgb(224, 221, 221);
}

.menu-section {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2rem;
  max-width: 900px;
  margin: 3rem auto;
  font-family: sans-serif;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-item-top {
    height: 12rem;
}

.item-1-image {
  background: url("../images/omelette.jpeg");
}

.item-2-image {
  background: url("../images/shrimp.jpeg");
}

.item-3-image {
  background: url("../images/grilled-cheese.jpeg");
}

.item-4-image {
  background: url("../images/tapas.jpeg");
}

.item-5-image {
  background: url("../images/mixed-tapas.jpeg");
}
  
.item-6-image {
  background: url("../images/tankard.jpeg");
}

.menu-item-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.menu-item-title {
  font-weight: bold;
}

.menu-item-price {
  font-size: .9rem;
}
